<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>后台管理系统登录</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
		
		<link rel="stylesheet" href="/admin/css/install.css" />
		<script src="{{__ROOT__}}/admin/js/jquery-2.0.3.min.js"></script>
    <script src="{{__ROOT__}}/admin/js/bootstrap.min.js"></script>
		
	</head>
	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				
						<div class="install-container">
                            <h2 class="header blue lighter bigger center">
                                    监控直播管理系统安装向导-安装完成                                   
                            </h2>                 
							<div class="position-relative" style="text-align:center">
                                  
                                    <img src="/admin/images/done.jpg" />
                                    <br>

                                    <p>程序已经安装完成，请重新启动程序</p>

                                    <p>如:node app.js 重启程序</p>

                                    <p>如:pm2 restart app.js 重启程序</p>

                                    <p>重新启动程序后访问：<a href="{{host}}">{{host}}</a></p>
							
							</div>
						</div>
				
			</div>
    </div><!-- /.main-container -->
    


</body>
</html>
